css
/* Estilo global para resetar padding e margin em todos os elementos */
* {
    padding: 0;
    margin: 0;
}

/* Estilo do corpo da página */
body {
    background-color: black;
}

/* Estilo do ícone de clima */
#icone {
    margin-bottom: -22px;
    margin-left: 334px;
    height: 55px;
    width: 55px;
}

/* Estilo do título "Consulta" */
#consulta {
    margin: 0;
    margin-left: 390px;
    margin-top: 170px;
    margin-bottom: -60px;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    color: white;
}

/* Estilo do título "Clima tempo" */
#climatempo {
    margin: 0;
    margin-bottom: -25px;
    margin-left: 340px;
    font-family: 'Poppins', sans-serif;
    font-size: 43px;
    color: white;
}

/* Estilo do formulário de pesquisa */
.pesquisa {
    width: 300px;
    margin-left: 90px;
    margin-top: 40px;
    padding: 10px;
    border-width: 1px;
}

/* Estilo do campo de entrada da cidade */
#city {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 9px;
    border-width: 1px;
    width: 350px;
    margin-left: -30px;
}

/* Estilo do botão de consulta */
#botao {    
    width: 150px;
    margin-left: 70px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    border-width: 1px;
    background-color: blueviolet; 
}

/* Estilo do contêiner de pesquisa */
.search {
    background-color: rgb(201, 156, 253);
    width: 500px;
    height: 200px;
    margin-top: 30px;
    margin-left: 500px;
    border-radius: 20px;
}

/* Estilo do contêiner de resultados */
#fundo {
    display: none;
    background-color: rgb(201, 156, 253);
    width: 800px;
    height: 450px;
    margin-top: 30px;
    margin-left: 300px;
    border-radius: 20px; 
}

/* Estilo do local de pesquisa */
#local {
    color: black;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flexbox;
}

/* Estilo do contêiner de localização */
.localizacao {
    margin: 0;
    height: 30px;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;
}

/* Estilo do texto de clima */
#clima {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0;
    margin-top: -43px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Estilo do texto de umidade */
#umidade { 
    color: black;
    font-family: 'Poppins', sans-serif;  
}

/* Estilo do texto de vento */
#vento {
    color: black;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do ícone de termômetro */
#termometro {
    display: flex;
    align-items: center;
}

/* Estilo do texto de temperatura */
#temp {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 84px;
}

/* Estilo dos dados adicionais */
.dados-adicionais {
    display: flex;
    justify-content: space-around;
    margin-left: 0px; 
    margin-top: 50px;
}

/* Estilo dos quadrados de umidade e vento */
.quadrado-umidade,
.quadrado-vento {
    background-color: rgb(182, 144, 243);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    padding: 50px; 
    border-radius: 10px; 
}

/* Estilo dos textos dentro dos quadrados */
#umidade,
#vento {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos responsivos para telas menores */
@media(max-width: 640px) {
    /* Estilos específicos para telas menores */

    /* Ícone */
    #icone {
        margin-left: 50px;
        height: 45px;
        width: 45px;
    }

    /* Título "Consulta" */
    #consulta {
        margin: 0;
        margin-left: 97px;
        margin-top: 170px;
        margin-bottom: -52px;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        color: white;
    }

    /* Título "Clima tempo" */
    #climatempo {
        margin: 0;
        margin-bottom: -25px;
        margin-left: 50px;
        font-family: "Poppins", sans-serif;
        font-size: 33px;
        color: white;
    }

    /* Estilo do contêiner de pesquisa */
    .pesquisa {
        width: 300px;
        margin-left: 90px;
        margin-top: 40px;
        padding: 10px;
        border-width: 1px;
    }

    /* Estilo do campo de entrada da cidade */
    #city {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        border-radius: 10px;
        padding: 9px;
        border-width: 1px;
        width: 350px;
        margin-left: -30px;
    }

    /* Estilo do botão de consulta */
    #botao {
        width: 150px;
        margin-left: 70px;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
        border-radius: 20px;
        padding: 5px;
        color: white;
        border-width: 1px;
        background-color: blueviolet;
    }

    /* Estilo do

 contêiner de resultados */
    .search {
        background-color: rgb(201, 156, 253);
        width: 500px;
        height: 200px;
        margin-top: 30px;
        border-radius: 20px;
    }

    /* Estilo do contêiner de resultados */
    #fundo {
        display: none;
        background-color: rgb(201, 156, 253);
        width: 600px;
        height: 300px;
        margin-top: 30px;
        margin-left: 22px;
        border-radius: 10px;
    }

    /* Estilo do texto de localização */
    #local {
        color: black;
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        display: flexbox;
    }

    /* Estilo do contêiner de localização */
    .localizacao {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 10px;
    }

    /* Estilo do texto de temperatura */
    #temp {
        display: flex;
        align-items: center;
        color: black;
        font-family: "Poppins", sans-serif;
        font-size: 35px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    /* Estilo do texto de clima */
    #clima {
        color: black;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 18px;
        margin: 0;
        margin-top: -43px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        padding: 10px;
    }

    /* Estilo do texto de vento e umidade */
    #vento,
    #umidade {
        color: black;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    /* Estilo dos quadrados de umidade e vento */
    .quadrado-umidade,
    .quadrado-vento {
        flex-wrap: wrap;
        background-color: rgb(182, 144, 243);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        width: 50px;
        height: 50px;
    }
    
    /* Estilo dos quadrados de umidade e vento */
    .quadrado-umidade {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .quadrado-vento {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Estilo do texto dentro dos quadrados */
    #umidade,
    #vento {
        color: black;
        font-family: "Poppins", sans-serif;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

/* Estilos responsivos para telas maiores */
@media(max-width: 1200px) {
    /* Estilos específicos para telas maiores */

    /* Ícone */
    #icone {
        margin-bottom: -18px;
        margin-left: 160px;
        height: 48px;
        width: 48px;
    }

    /* Título "Consulta" */
    #consulta {
        margin: 0;
        margin-left: 210px;
        margin-top: 170px;
        margin-bottom: -50px;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: white;
    }

    /* Título "Clima tempo" */
    #climatempo {
        margin: 0;
        margin-bottom: -25px;
        margin-left: 160px;
        font-family: 'Poppins', sans-serif;
        font-size: 33px;
        color: white;
    }

    /* Estilo do formulário de pesquisa */
    .pesquisa {
        width: 300px;
        margin-left: 90px;
        margin-top: 40px;
        padding: 10px;
        border-width: 1px;
    }

    /* Estilo do campo de entrada da cidade */
    #city {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        border-radius: 10px;
        padding: 9px;
        border-width: 1px;
        width: 350px;
        margin-left: -30px;
    }

    /* Estilo do botão de consulta */
    #botao {    
        width: 150px;
        margin-left: 70px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        margin-top: 10px;
        border-radius: 20px;
        padding: 5px;
        color: white;
        border-width: 1px;
        background-color: blueviolet; 
    }

    /* Estilo do contêiner de pesquisa */
    .search {
       

 background-color:   rgb(201, 156, 253);
        width: 500px;
        height: 200px;
        margin-top: 30px;
        margin-left: 290px;
        border-radius: 20px
    }

    /* Estilo do contêiner de resultados */
    #fundo {
        display: none;
        background-color:   rgb(201, 156, 253);
        width: 550px;
        height: 350px;
        margin-top: 30px;
        margin-left: 300px;
        border-radius: 20px; 
    }

    /* Estilo do texto de localização */
    #local {
        color: black;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        display: flexbox;
    }

    /* Estilo do contêiner de localização */
    .localizacao {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 10px;
    }

    /* Estilo do texto de temperatura */
    #temp {
        display: flex;
        align-items: center;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 54px;
    }
}